.links {
    text-decoration: none;
}

.navbar-icon {
    max-width: 100px;
    max-height: 126px;
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.navbar-icon:hover {
    margin-bottom: 7px;
    margin-right: 7px;
    margin-top: 0px;
    margin-left: 0px;
}

.navbar-flex {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    column-gap: 7%;
    justify-self: center;
}

@media all and (max-width: 600px) {
    .navbar-flex {
        flex-direction: row;
        row-gap: 0;
        column-gap: 0;
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }


.add-money {
    background-color: #00FFA3;
    color: #000000;
    border-width: 7px;
    border-style: solid;
    border-color: #000000;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    width: min-content;
}

.add-money:hover {
    margin-top: 7px;
    margin-left: 7px;
    border-right-width: 11px;
    border-bottom-width: 11px;
    border-style: solid;
    border-color: #000000;
}

.add-money-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.dashboard-header {
    height: 50px;
}

.dashboard-main-body {
    background-color: #000000;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr ;
    grid-template-areas: 
    ". . ."
    "navbar image ."
    "navbar . addmoney";
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 22px;
    list-style: none;   
    border-width: 7px;
    border-style: solid;
    border-color: #FF5C5C;
    background-color: #FFF59E;
    height: 80%;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .dashboard-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "navbar "
        "image"
        "addmoney";

      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: center;
    }
  }

.dashboard-item {
    padding: 10px;
    margin: 10px;
    grid-area: navbar;
}

.dashboard-flex-item-addmoney {
    grid-area: addmoney;
    justify-self: center;

}

.dashboard-center-image {
    grid-area: image;
    justify-self: center;
}

.dashboard-image {
    width: 100%;
}


/* ADDMONEY */
.template-header {
    height: 50px;
}

.template-main-body {
    background-color: #2962FF;
    
}

.template-container {
    display: grid;
    grid-template-columns: 4fr 1fr ;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    ". . "
    "image navbar"
    ". . ";
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 22px;
    list-style: none;   
    border-left-width: 7px;
    border-top-width: 7px;
    border-bottom-width: 12px;
    border-right-width: 12px;
    border-style: solid;
    border-color: #000;
    background-color: #FF90FF;
    height: 80%;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .template-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "navbar "
        "image"
        "addmoney";

      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: center;
    }
  }

.template-item {
    padding: 10px;
    margin: 10px;
    grid-area: navbar;
}

.template-center-image {
    grid-area: image;
    justify-self: center;
}

.template-image {
    width: 100%;
}

